.overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.pointerauto {
    pointer-events: auto;
}

.slidein {
    position: absolute;
    animation: expand 1s;
}

@keyframes expand {
    from {
        transform: scale(0.1);
    }
    to{
        transform: scale(1);
    }
}